<form action="/result">
  <div class="form-group">
    <label for="input_strings">Enter two words to find out if they are antigrams, anagrams, or palindromes:</label>
    <input type="text" class="form-control" id="input_string1" name="input_string1">
    <input type="text" class="form-control" id="input_string2" name="input_string2">

  </div>
  <button type="submit" name="button" class="btn">reveal</button>
</form>
